/* body{
    background-image: url("./images/afrima1.jpg");
} */
.navBarContainer {
    background-color: #ffd916;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:sticky;
    top:0px;
}

.linksWrapper {
    display: flex;
    align-items: center;

}

.input {
    display: flex;
    justify-content: space-around;
}

.logoWrapper {
    color: grey;
    font-size: 20px;
    display: flex;
    height: 100px;
    margin-right: 150px;
}
.logo{
    width:200px;
    margin-top:10px
}

.form {
    /* background-color: aqua; */
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.about,
.events,
.faq,
.sponsors {
    margin: 10px;
    cursor: pointer;
    text-decoration: none; 
    color:#686868;
}
.navList{
    list-style-type: none;
}
.about:hover,
.events:hover,
.faq:hover,
.sponsors:hover {
    list-style-type: none;
    margin: 10px;
    border-bottom: 2px solid red;
    color: green;
    text-decoration: none;
}

.button {
    background: #686868;
    border-radius: 5px;
    border-color: #686868;
    color: #fff;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    margin-right: 50px;
    font-size: 15px;
    height: 35px;
    width: 100px;
}


.formInput {
    background: #fff;
    border-color: transparent;
    border-radius: 5px;
    opacity: 38%;
    margin-right: 20px;
    width: 300px;
    height: 30px;
}
/* .aboutContainer{
    background: #686868;
} */
.landinpageWrapper {
    /* background-color: #686868; */
    height: 600px;
    background-image: url("./images/afrima1.jpg");
}

.landingPage {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    height: 600px;
}

.iconWrapper {
    text-align: center;
    margin: 100px 0px 200px 100px;
    color: white;
}

.iconList {
    list-style-type: none;
    margin: 10px;
    font-size: 30px;
}
.landingPageWordingsHeader{
    margin-top:-10px;
}
.pipeBottom,
.pipeTop {
    color: white;
    font-size: 20px;
    margin-left: 30px;
}

.wordingsWrapper {
    margin: 150px 0px 100px 10px;
    color: white;
    width: 400px;
}

.navBar2Wrapper {
    background: blue;
}

.navBar2ListContainer {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    text-align: center;
    background: green;
}

.whoWeAreContainer,
.creativeAndCultural,
.nexusProgramme,
.objectives {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width:90%;
    margin: 0 auto;

}
.whoWeAreHeader{margin: 20px;}
/* .whoWeAreContainer{background-image: url("./images/landingImage1.png");} */
.whoWeAreWrapper{
    width:50%;
    margin:30px;
    /* background-image: url("./images/afrimaLogo.png"); */
}
/* contactForm  styling*/

.contactFormWrapper{
    display:flex;
    justify-content: space-around;
    width:70%;
    align-content: center;
    align-items: center;
    margin: 50px 200px 100px 200px;
    height: 500px;
    box-shadow: 8px 13px 12px 1px rgba(229,235,226,0.84);
-webkit-box-shadow: 8px 13px 12px 1px rgba(229,235,226,0.84);
-moz-box-shadow: 8px 13px 12px 1px rgba(229,235,226,0.84);
}

.contactFormHeading{
    color: #00aa8c;
    font-size: 40px;
    font-weight: 800;
    line-height: 61px;
}
.name{
    background: #f6f6f6;
    border-color: #f6f6f6;
    height: 60px;
}
.email{
    background: #f6f6f6;
    border-color: #f6f6f6;
    height: 60px;
}
.textarea{
    background: #f6f6f6;
    border-color: #f6f6f6;
    height: 199px;
}
.submitButton{
    background: #00aa8c;
    border-color: #00aa8c;
    width:410px;
    height: 50px;
    padding:10px;
    text-align: center;
    margin-left: 0px;
}
li{
    list-style-type:symbols("./images/afrimaLogo.png")
}
.images{
    width:50%;
    /* border-radius:50%; */
    height:600px;
    margin:20px;
    box-shadow: 15px 15px 8px rgb(127, 131, 127);
}
.hamburger{
    display: none
}
p{
    text-align: justify;
}

/* sign up form */

.signUpContainer{
    background-image: url("./images/afrima3.jpg");
    height: 100vh;
    width:100%;
    position:relative;
}
.signUpWrapper{
    position:absolute;
    top:50px;
    left:320px;
    width:50%;
    text-align:center;
    border: 2px solid black;
    border-radius: 10px;
    background-image: url("./images/afrima1.jpg");

}
.signUpForm{
    margin:10px 0px 10px 120px;
    width:80%;
    
}
.signUpHeader{
    margin:30px 0px 0px 0px
}
.signUpSubmitButton{
    width:200px;
    margin:30px;
}
      /* Media Query for Mobile Devices */
      @media (min-width: 36px) and (max-width:480px) {
    .signUpForm{
        display:inline;
    }
    .form-control{
        width:120px;
        margin-left:35px
    }
    .signUpSubmitButton{
        width:100px;
        font-size:15px;   
        margin-right: -9px;    
    }
    .signUpWrapper{
        margin-left: -200px;
    }
    .hamburger{
        margin-left: 70px;
    }
      }


      @media (max-width: 480px) {
        body{
            /* background:red; */
            width :100%;
        }
        .landinpageWrapper{
            height: 50vh;
        }
        .iconWrapper{
            margin:10px;
        }
        .iconList{
            font-size: 15px;
        }
        .wordingsWrapper{
            margin-top:60px;
            width:200px;
        }
        .landingPageWordingsHeader{
            font-size: 10px;
        }
        .pipeBottom,
        .pipeTop{
            margin-left:40px
        }
        .registerButton{
            width:150px;
        }
        .whoWeAreContainer,
        .creativeAndCultural,
        .nexusProgramme,
        .objectives
        {
            display:block;
            width:90%;
        }
        .whoWeAreHeader{
            margin:10px;
            font-size:20px;
        }
        .whoWeAreWrapper{
            width:80%;
            margin:20px;
        }
        .images{
            width:70%;
            border-radius: 0%;
            height: 400px;
        }
        .contactFormWrapper{
            width:100%;
            margin-left:0px
        }
        .contactFormHeading{
            font-size:30px;
            margin-left: 40px;
        }
        .contactParagraph{
            width:60%;
            font-size: 15px;
            margin-left: 10px;
        }
        .name, .email,.textarea{
            width:200px;
            margin-right: 10px;

        }
        .submitButton{
            width:200px;
            margin-left: 20px;
        }
        .contactByEmail{
            display :none
        }
        .contactForm{
            margin-left:60px;
        }
        .navBarContainer{
            text-align :center;
            position:relative;
        }
        .hamburger{
            display: inline;
            margin-top: 20px;
            margin-left: 70px;
        }
        .form{display:none;
        }
        .linksWrapper{
            display:none;
        }
        .showMenu{
           position:absolute;
           display: flex;
           text-align:center;
           top:100px;
           width:100%;
           background-color: #ffd916;
           z-index:20;

    }
}
    /* Media query for Tablets */

    @media (max-width: 768px) {
   .about,.events{
    font-size: 20px;
   }
   .linksWrapper{
    width : 100%;
   }
   .form{
    display:none;
   }
   .button{
    width:200px;
   }
   .signUpWrapper{
    display:inline;
    margin-left: -200px;
    margin-right:50px;
   }
   .signUpForm{
    margin-left:    80px;
   }
   .signUpSubmitButton{
    margin-left:0px;
   }
}